# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment files
.env

# IDE/editor
.vscode/
.idea/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Tests
.pytest_cache/

# Logs
*.log

# Temporary files
*.tmp

# Ignore system-specific files
Thumbs.db
